@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1727366090622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingjiashenqing:before {
  content: "\e634";
}

.icon-bukashenqing:before {
  content: "\e636";
}

.icon-jiabanshenqing:before {
  content: "\e637";
}

